@model ErrorViewModel
@{
ViewData["Title"] = "Not Found";
}

<h1 class="alert alert-danger"><strong>@Model.ErrorMessage</strong></h1>



<a asp-controller="Section" asp-action="Preface">Click here to navigate to the preface page</a>